<div class="adwpfw-metabox adwpfw {{ prefix }}">

    <div class="adwpfw-fields">

        {% for field in fields %}

            {% include 'fields/' ~ field.tpl ~ '.twig' with {field: field} %}

        {% endfor %}

    </div>

</div>