<div class="{{ prefix }}-metabox {{ prefix }}-container">

    <div class="{{ prefix }}-fields">

        {% for field in fields %}

            {% include 'fields/' ~ field.tpl ~ '.twig' with {field} %}

        {% endfor %}

    </div>

</div>