<div class="adwpfw-profile adwpfw {{ prefix }}">

    <h3>{{ heading }}</h3>

    <table class="form-table">

        {% for field in fields %}

            {% include 'fields/' ~ field.tpl ~ '.twig' with {field: field} %}

        {% endfor %}

    </table>

</div>